<div class="post-contents">

  <div class="posts">
    <% @posts.each do |post| %>
      <div><%= post.user.nickname %></div>
      <div class="index-image"><%= image_tag post.image %></div>
      <div><%= post.user.nickname %></div>
      <div><%= post.title %></div>
      <div><%= post.content %></div>
    <% end %>
  </div>

  <div class="current_user-posts">
    <%= link_to current_user.nickname, edit_user_path(current_user) %>
  </div>

</div>