<div class="new-content">
    <div class="new-title">新規投稿を作成</div>
    <div class="new-form">
      <%= form_with(model: @post, id: 'post-form', local: true) do |form| %>
        <div class="image-preview">
          <div id="previews"></div>
          <div id="preview-none"><%= image_tag "noimage.png" %></div>
          <div class="image-form"><%= form.file_field :image %></div>
        </div>
        <div><%= form.text_field :title, placeholder: "タイトル" %></div>
        <div><%= form.text_area :content, placeholder: "テキスト" %></div>
        <div><%= form.text_field :tag_ids, placeholder: "タグを複数つけるには','で区切ってください。" %></div>
        <div><%= form.submit "投稿する" %></div>
      <% end %>
    </div>
</div>