<div class="search-post-contents">
  <div class="search-post-up">
    <%= form_tag(search_post_path, method: :get) do %>
    <div class="search-post-form">
      <div class="search-form-field"><%= text_field_tag :keyword, '',placeholder: "タグを入力してください" %></div>
      <div class="search-form-submit"><%= submit_tag "検索" %></div>
    </div>
    <% end %>
  </div>

  <div class="search-post-images">
  <% @posts.each do |post| %>
    <div class="search-post-image"><%=link_to image_tag(post.image), post_path(post.id) %></div>
  <% end %>
  </div>
</div>
<span id="back">
  <a href="">
    <%= image_tag asset_path('default.png'), class: "top" %>
  </a>
</span>