<div class="post-show-content">

  <div class="post-show-left">
    <%= image_tag @post.image %>
  </div>

  <div class="post-show-right">

    <div class="show-icon-nickname">
      <% if @post.user.image? %>
        <div class="show-icon"><%= image_tag @post.user.image.url %></div>
      <% else %>
        <div class="show-icon"><%= image_tag("default.png") %></div>
      <% end %>
      <div class="show-nickname"><%= @post.user.nickname %></div>
      <% if current_user.id == @post.user.id %>
        <div class="show-edit-delete">
          <%= link_to "編集する", edit_post_path(@post.id) %>
          <%= link_to "削除する", post_path(@post.id), method: :delete %>
        </div>
      <% end %>
    </div>

    <div class="show-contents-center">
      <% if @post.user.image? %>
        <div class="show-icon"><%= image_tag @post.user.image.url %></div>
      <% else %>
        <div class="show-icon"><%= image_tag("default.png") %></div>
      <% end %>
      <div class="show-nickname-two"><%= @post.user.nickname %></div>
      
      <div id="comments">
        <%= render 'comments/post_comments', post: @post %>
      </div>

    </div>

    <div class="show-contents-row">

      <div class="favoriteーcontents">
        <% if @post.favorite?(current_user) %>
          <div class="show-heart">
            <%= link_to post_favorites_path(@post.id), method: :delete do %>
                <span style="color:rgb(255, 136, 136);">❤︎</span>
            <% end %>
          </div>
        <% else %>
          <div class="show-heart-none">
            <%= link_to post_favorites_path(@post.id), method: :post do %>
                <span>❤︎</span>
            <% end %>
          </div>
        <% end %>
      </div>


      <div class="comment-contents">
        <div class="comment-form">
          <%= render 'comments/form', post: @post, comment: @comment %>
        </div>
      </div>

    </div>

  </div>
  
</div>