<div class="post-show-content">

  <div class="post-show-left">
    <%= image_tag @post.image %>
  </div>

  <div class="post-show-right">
    <div><%= @post.user.nickname %></div>
    <div><%=  %></div>
    <div><%=  %></div>
    <div><%=  %></div>
  </div>
  
</div>