<!DOCTYPE html>
<html>
  <head>
    <title>OriginalApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <header class="header">
    <div class="header-menu">
      <div class="header-title">タイトル</div>
      <div class="header-menu-right">
        <%= link_to "新規投稿", new_post_path %>
        <%= link_to "マイページ", edit_user_path(current_user) %>
      </div>
    </div>
  </header>

  <body>
    <div class="body">
    <%= yield %>
    </div>
  </body>

  <footer class="footer">
  </footer>
</html>
